# Ignore everything
*
generalization/masked_input/images/
generalization/masked_input/Data/
generalization/masked_input/Models/
# But not these files...
!*/
!.gitignore
!*.py
!*.md
!*.ipynb
!*.txt
# If you really need to commit a larger file (png, jpg, pickle, etc.)
# use the force flag, e.g., `git add --force my/very/important/file.foo`
